html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */

body {
  background-image: url("https://cdn.wallpapersafari.com/35/45/xaw07i.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: lightgray;
  font-family: 'Bangers', cursive;
}

.nav {
  background-color: black;
}

a {
  color: lightgray;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: #e752ff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  font-size: xx-large;
  text-align: center;
  font-family: 'Bangers', cursive;
  margin-top: 70px;
}

.index-header {
  text-align: center;
  font-size: 3.5rem;
}

.jumbotron {
  text-align: center;
  margin-top: 70px;
}

.btn {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.card {
  background-color: black;
  text-align: center;
  margin-top: 10px;
  outline-color: lightgray;
}