html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/35/45/xaw07i.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  font-size: 2.0rem;
  color: lightgray;
  font-family: 'Bangers', cursive;
}

.nav {
  background-color: black;
}

a {
  color: lightgray;
  text-decoration: none;
  font-size: 2.0rem;
}

a:hover {
  color:  #9198e5;
}