{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Details Page</h1>
  <h2>Title: {{ post.title }}</h2>
  <h2>Musician: {{post.musician}}</h2>
  <h2>Genre: {{post.genre}}</h2>
  <h2>Release Year: {{post.releaseyear}}</h2>
  <h2>Comments: {{post.text}}</h2>
  <h5>Recommended by: {{post.author.username}}</h5>
  <h5>Published: {{ post.date.strftime('%B %d, %Y') }}</h5>
   {% if post.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('song_posts.update', song_post_id=post.id) }}">Update</a>
       <br>
       <form action="{{ url_for('song_posts.delete_post', song_post_id=post.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}